@import "~bootstrap/dist/css/bootstrap.min.css";
.container-excusa {
  background-color: aliceblue;
}
#excuse {
  text-align: center;
}
#btn {
  background-color: cornflowerblue;
  border: none;
  width: auto;
}
